<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>

<!--
    th:fragment="header" → donne un nom à ce fragment
    pour pouvoir l'appeler depuis d'autres pages
-->
<header class="header" th:fragment="header">
    <div class="brand">
        <h1>StageTrack</h1>
        <p>Suivez vos stages et générez vos rapports</p>
    </div>
    <button class="btn-new" onclick="document.getElementById('modal').classList.add('active')">
        + Nouveau stage
    </button>
</header>

</body>
</html>